In [ ]:
1. Write a Python program to find sum of elements in list?

In [1]:

list1 = [11, 5, 17, 18, 23]


total = sum(list1)


print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [ ]:
2. Write a Python program to Multiply all numbers in the list?

In [3]:

total = 1
 

list1 = [11, 5, 17, 18, 23]
 
for ele in range(0, len(list1)):
    total = total *list1[ele]
 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  387090

In [ ]:
3. Write a Python program to find smallest number in a list?

In [ ]:

list1 = [10, 20, 1, 45, 99]

print("Smallest element is:", min(list1))

In [ ]:
4. Write a Python program to find largest number in a list?

In [4]:
list1 = [10, 20, 1, 45, 99]

print("Smallest element is:", max(list1))

Smallest element is: 99

In [ ]:
5. Write a Python program to find second largest number in a list?

In [3]:
list1 = [10, 20, 1, 45, 99]
list1.sort(reverse =True)
list1[1]

45

In [ ]:
6. Write a Python program to find N largest elements from a list?

In [7]:
l = [1000,298,3579,100,200,-45,900]
n = 4

l.sort(reverse =True)
print(l[0:4])

[3579, 1000, 900, 298]

In [ ]:
7. Write a Python program to print even numbers in a list?

In [8]:

list1 = [10, 21, 4, 45, 66, 93]
 

for num in list1:
 

    if num % 2 == 0:
        print(num, end=" ")

10 4 66

In [ ]:
8. Write a Python program to print odd numbers in a List?

In [10]:

list1 = [10, 21, 4, 45, 66, 93]
 

for num in list1:
 

    if num % 2 != 0:
        print(num, end=" ")

21 45 93

In [ ]:
9. Write a Python program to Remove empty List from List?

In [11]:

test_list = [5, 6, [], 3, [], [], 9]
 
print("The original list is : " + str(test_list))
 

while [] in test_list :
    test_list.remove([])
 
print("List after empty list removal : " + str(test_list))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

In [ ]:
10. Write a Python program to Cloning or Copying a list?

In [46]:

import copy
   
li1 = [1, 2, [3,5], 4]
   

li2 = copy.copy(li1)
print(li1) 
print(li2)

[1, 2, [3, 5], 4]
[1, 2, [3, 5], 4]

In [ ]:
11. Write a Python program to Count occurrences of an element in a list?

In [49]:
li1 = [1, 2, 5, 4,5,5]
li1.count(5)

3