In [ ]:
Q1--1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&
-87.8
-
/
+
6

In [ ]:
# expressions are - *,&,-,/,+   and values are =  -87.8,6

In [ ]:
2. What is the difference between string and variable?
  
     Variables are symbols that you can use to store data in a program  example  a=3 
     String  are data that are  use to fill up a variable. example - 'RAM'

In [ ]:
3. Describe three different data types.

1 NUMERIC DATA TYPES = THESE CAN ALSO FUTHER DIVIVDE INTO THREE PART ARE
A- INTERGER  = 3,5 = THESE ARE POSTIIVE AND NEGATIVE WHOLE NUMBERS . REPRESENT BY (INT) 
B FLOAT =   3.4, 54.3 =THESE ARE THE REAL NUMBER CONTAINING DECIMAL  POINTS . REPRESENT BY (FLOAT)
C-COMPLEX = (2+ 3J)  THESE ARE THE NUMBER HAVING REAL AND IMAGINARY VALUE  = REPRESENT BY (COMPLEX)


2 BOOLEAN DATA TYPES =Data type with one of the two built-in values, True or False. 


3 DICTIONARY DATA TYPES= IT is  USED TO STORE A VALUE IN KEY VALUE FORM WHICH  IS SEPERATED BY COLON, EXAMPLE -Dict = {1: 'GOOD', 3: 'G'}

In [ ]:
4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operands that is interpreted to produce some other value.
example - x = 15 + 1.3

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

statement -Statements represent an action or command e.g print statements, assignment statements. example  - print hello ,spam 10
 example  - print hello 
expresiion- Expression is a combination of variables, operations and values that yields a result value. example - 5*5

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

bacon = 23

In [ ]:
7. What should the values of the following two terms be?

 spamspamspam 
 spam spam spam

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

 becasue varible canot start with the numeric value hence 100 cannot be a varible 
     while eggs is varible because it fallow are  rule to define a varible .
        like  A variable name must start with a letter or the underscore character.
              A variable name cannot start with a number.
              A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
              Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

int()
float()
str()

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos'.


because integer can not concatenate ,here 99 is interger for if we convert 99 into string "99" then error can be reseloved.