In [ ]:
Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [ ]:
years_list = [1995, 1996, 1997, 1998, 1999, 2000]   # assuming my birthday year is 1995

In [ ]:
2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [ ]:
If the first year in years_list represents the year of birth and we assume that the person's birth year is 1995, then:

The person's first year was 1995 (0 years old).
The person's second year was 1996 (1 year old).
The person's third year was 1997 (2 years old).
Therefore, the person's third birthday would have been in the year 1998.

In [ ]:
3.In the years list, which year were you the oldest?

In [ ]:
4. Make a list called things with these three strings as elements:  mozzarella,cinderella,salmonella.

In [ ]:
things = ['mozzarella', 'cinderella', 'salmonella']

In [ ]:
5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?


yes the element will change because python is case sensitive language .

In [2]:
things = ['mozzarella', 'cinderella', 'salmonella']
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

In [ ]:
6. Make a surprise list with the elements   :Groucho,Chico, and Harpo.

surprise = ['Groucho', 'Chico', 'Harpo']

In [ ]:
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [3]:
surprise_list = ["Groucho", "Chico", "Harpo"]

# Lowercase the last element
last_element = surprise_list[-1].lower()

# Reverse the last element
reversed_element = last_element[::-1]

# Capitalize the reversed element
capitalized_element = reversed_element.capitalize()

print(capitalized_element)

Oprah

In [ ]:
8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [4]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [ ]:
9. Write the French word for walrus in your three-word dictionary e2f.

In [5]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
french_word = e2f['walrus']
print(french_word)

morse

In [ ]:
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [6]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
f2e = {value: key for key, value in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [ ]:
11. Print the English version of the French word chien using f2e.

In [7]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
f2e = {value: key for key, value in e2f.items()}
english_word = f2e['chien']
print(english_word)

dog

In [ ]:
12. Make and print a set of English words from the keys in e2f.

In [8]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
english_words = set(e2f.keys())
print(english_words)

{'cat', 'dog', 'walrus'}

In [ ]:
13. Make a multilevel dictionary called life. Use these strings for the topmost keys: animals,plants,
and other. Make the animals key refer to another dictionary with the keys cats,octopi, and ,emus. Make the cats key refer to a list of strings with the values Henri,Grumpy, and Lucy.
Make all the other keys refer to empty dictionaries.

In [10]:
life = {'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
        'plants': {},
        'other': {}
       }

In [ ]:
14. Print the top-level keys of life.

In [12]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [ ]:
15. princt the keys for life['animals']

In [13]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

In [ ]:
16. Print the values for life [animals][cats]

In [14]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']